h1 {
    color: blue;
    text-align: center;
    font-size: 60px;
    text-decoration: underline black;
    font-family: cursive;

}

ol {
    color: purple;
    font-size: 25px;
}

h2 {
    color: orange;
    text-decoration: underline black;
    font-size: 40px;
}